$cardBgColor: #FABAD0;
$cardContainerBgColor: #d2deea;
.card-container {
    margin: 0 auto;
    text-align: center;
    min-height: 150px;
    position: relative;
    background-color: $cardContainerBgColor;
}

.card-container-inner {
  width: 100%;
  position: absolute;
  min-height: 40px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
		 -moz-transform: translate(-50%, -50%);
		  -ms-transform: translate(-50%, -50%);
		   -o-transform: translate(-50%, -50%);
		      transform: translate(-50%, -50%);
}

.card {
  min-width: 100px;
  padding: 10px;
  background-color: $cardBgColor;
  -webkit-border-radius: 7px;
     -moz-border-radius: 7px;
          border-radius: 7px;
  display: inline-block;
  margin: 0 7px;
  font-size: 1em;
  font-weight: bold;
  text-transform: uppercase;
}

.container .card.gu-mirror,
.container .card {
  position: relative;
  display: block;
}